html {
  font-family: arial, sans-serif;
  font-size: 13px;
  position:relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;


}
body {
  min-width: 1000px;
}
a {
  text-decoration: none;
}
.rub_gornji {
  background-color: rgb(250,250,250);
  height: 125px;
  border: 1px solid rgb(228,228,228);
}
.logo {
  height: 40px;
  width: 120px;
  margin-left: 10px;
  margin-top: 20px;

}
form {
  display: inline-block;
}
#trazilica {
  width: 632px;
  line-height: 2.5;
  border-radius: 0;
  border: 1px solid rgb(200,200,200);
  position: relative;
  bottom: 15px;
  left: 20px;
  z-index: 6;
  box-shadow: 3px 3px 1px rgb(220,220,220);
  box-shadow: all;
  padding-left: 15px;
  color: black;
  

}
/*dodaj pseudolase za focus  i hover*/
#tipka {
  position: relative;
  bottom: 15px;
  right: 60px;
  z-index: 7;
}
#pov {
  height: 22px;
  width: 22px;
  position: relative;
  bottom: 10px;
  right: 40px;
  z-index: 7;
}
#botun {
  position: relative;
  float: right;
  padding: 10px 15px;
  border-radius: 1px;
  background-color: rgb(67, 135, 253);
  font-size: 13px;
  font-weight: 700;
  color: white;
  margin-top: 30px;
  margin-right: 30px;
  text-decoration: none;
}

#slija {
  height: 20px;
  width: 20px;
  position: relative;
  float: right;
  margin-top: 37px;
  margin-right: 30px;
}
#lociranje {
  position: relative;
  float: right;
  margin-top: 30px;
  margin-right: 30px;

}
#sve {
  color: rgb(66,133,244);
  font-weight: bold;
  position: relative;
  top: 17px;
  margin-left: 175px;
  padding: 17px;
  border-bottom: 3px solid rgb(66,133,244);

}
.gore {
  color: rgb(119,119,119);
  position: relative;
  top: 17px;
  padding: 17px;
  text-decoration: none;
}
.gore:active {
  color: rgb(66,133,244);
}
#alati:hover {
  padding: 5px 17px;
  border-radius: 1px;
  border: 1px solid rgb(160,160,160)

}
#alati:active {
  color: inherit;
  background-color: rgb(140,140,140);
}
#rez {
  position: relative;
  top: 17px;
  margin-left: 180px;
  color: rgb(119,119,119);
}
table {
  margin-left: 180px;
  margin-top: 50px;
}
td {
  width: 600px;
  padding-bottom: 20px;
  border: 0px solid black;
}
.plavi {
  font-size: 18px;
  /*padding-bottom: 5px;*/

}
.zeleni {
  color: rgb(0,102,33);
}
.obicni {
  color:  rgb(84,84,84);
}
.svjetli {
  color: rgb(128,128,128);
}
.linkovi:hover {
  text-decoration: underline;
}
.tekst {
  line-height: 1.4;
}
#donja_slija {
  width:340px;
  height: 90px;
  margin-left: 280px;
}
#donji_linkovi {
  position: relative;
  z-index: 2;
  bottom: 35px;
  left: 346px;
  letter-spacing: 4px;
  font-weight: bold;
  background-color: white;
  margin-bottom: 70px;
}
#donji_linkovi a:hover {
  text-decoration: underline;

}
.nag {
  font-weight: bold;
}
footer {
  background-color: rgb(250,250,250);
  height: 70px;
  border: 1px solid rgb(228,228,228);
  position: absolute;
   bottom: 0;
   left: 0;
   right: 0;

}
#dole {
  color: rgb(119,119,119) ;
  margin-left: 175px;
  margin-top: 20px;
}
